/* .body{
  margin : 0;
}

.Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

h3{
  color: #23282D;
  margin-left: 50px;
  margin-right: 100px;
  padding: 5px;
  padding-bottom: 1px;
}

h3:hover{
  background-color:#F2F3F5;
  border-radius: 5px;
  cursor: pointer;
}

.pi{
  color: #013B45;
  margin-right: 10px;
  margin-left: 20px;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  height: fit-content;
}

p{
  padding:0;
}

.pi:hover{
  background-color:#F2F3F5;
  border-radius: 5px;
  cursor: pointer;

}

.search {
    margin-top: 10px;
    margin-right: 70px;
    display: flex;
    flex-direction: row;

}

.searchButton{
    background-color: #7D2AE8;
    border-radius: 4px;
    margin-left: 10px;
    color: #fff;
    margin-right: 5px;
    font-family: sans-serif;
    width: 80px;
}

.searchButton:hover{
  background-color: rgb(125,42,232,0.9);
}

.searchtext{
  color: #013B45;
}

::placeholder { 
  opacity: 1; 
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

input {
  width: 370px;
  padding: 10px 5px;
  float: left;
  color: #013B45;
  border: 1px solid #013b45;
  background: transparent;
  border-radius: 3px 0 0 3px;

}

button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #013B45;
  background: transparent;
  border-left: 1px solid #013B45;
  border-radius: 0 3px 3px 0;

} */
header {
  background-color: rgb(34, 50, 65);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}
header * {
  display: inline;
  color: white;
  font-family: 'Dancing Script', cursive;
}
header li {
  margin: 20px;
;
}

.Brand{
  font-family: 'Dancing Script', cursive;
}
.search{
  margin-left: 400px;
  padding: 0px;
}
.searchButton
{
  color: black;
  background-color: green;
}

.searchtext{
  padding: 10px;
  border-radius: 5px;
  color: #000;
}

.searchButton{
  padding: 9px;
  border-radius: 5px;
}

::placeholder { 
  opacity: 1; 
}
/* nav
{
  display:flex ;
  flex-direction: row;
  justify-content: space-between;
} */