.intro
{
    text-align: center;
    font-size: large;
}

.Technologies
{
    display: flex;
    flex-direction: column;
    padding-left: 190px;
    padding-right: 150px;
    font-size: large;
    
    
}

.techImg img
{
    justify-content: center;
    text-align: center;


}

.developers 
{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.icon a
{
    margin-left: 50px;
}
.icon
{
    margin-top: 20px;
}
.dev_img
{
    margin-bottom: 30px;
}
.headings
{
    margin-left: 15%;
}